<!DOCTYPE html>
<html>
    <head><meta charset="utf-8">Lab ZAP"</head>
    <body>
        <h1>Laboratorio ZAP</h1>
        <ul>
            <li><a href="/users">/users</a> (lista usuarios confiltro vulnerable =name=...)</li>
            <li><a href="echo?msg?Hola">/echo</a> (eco vulnerable a XSS)</li>
        </ul>
    </body>
</html>